#navbar{
    position: fixed;
    width: 100%!important;
    display: block;
    top: 0;
    z-index: 10;
    padding: 0!important;
}

#inner-nav{

    /*height: 50px!important;*/
    width: 100%!important;
}
a:hover{
    color: green!important;
}
#navbarSupportedContent{
    width: 100%!important;
}

.entry-nav{
    padding-right: 0!important;
    /*margin: 0!important;*/
}