/* #input-type-button-group{
    visibility: hidden;
} */

/* #show-toggler{
    visibility: visible;
} */
#input-type{
width: 60px;
flex-direction: column;
text-align: center;
position: absolute;
left: -50px;
top: 10vh;
}
.material-icons {
  position: relative;
  top: 1px;
  left: 0px;
}

.btn:active,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.dynamic-input:focus {
  outline: none;
}

.btn-sm-toggle {
  padding: 0 !important;
  text-align: center;
  height: 40px;
  width: 40px;
  /* text-align: center; */
  /* line-height: 50%; */
}

.btn-sm-in-group {
  padding: 0 !important;
  text-align: center;
  height: 40px;
  width: 40px;
}

.row {
  padding-top: 50px;
}

.content {
  width: 100%;
}

.yt-vid {
  position: absolute;
  padding-top: calc(591.44 / 1127.34 * 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
