#page-container {
  position: relative;
  min-height: 100vh;
}

footer {

  width: 100%;
}

#content-wrap {
  padding-bottom: 5rem;
}

.my-text-input {
  resize: none;
}

#ask-btn{
  position: fixed;
  bottom: 10%;
  right: 2.5%;
  padding: 5px 0 0 0!important;
  text-align: center;
  height: 50px;
  width: 50px;
}

#question-card{
  position: fixed;
  /* z-index: 10; */
  bottom: 10%;
  right: 2.5%;
}