{{define "footer"}}
</div>
<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">Tech Review, funny name!</span>
    </div>
</footer>

{{/*<footer class="navbar navbar-toggleable-md navbar-inverse bg-faded mt-4">*/}}
{{/*    <div class="container pt-4 pb-3">*/}}
{{/*        <div class="w-100">Footer content here.</div>*/}}
{{/*        <br><br>*/}}
{{/*        <div class="w-100 small text-right align-self-end"><span class="small">Little baby baby</span></div>*/}}
{{/*    </div>*/}}
{{/*</footer>*/}}

{{ end }}