<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </link>
    <link rel="stylesheet" href="assets/css/user-entry.css">
    </link>

    <title>Log in or Sign up</title>
</head>

<body>
    <div class="container pt-3">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="bg-white rounded-lg shadow-sm p-5">
                    <!-- Log in/ Sign up tabs -->
                    <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
                        <li class="nav-item">
                            <a data-toggle="pill" href="#nav-tab-login" class="nav-link rounded-pill active">
                                <i class="fa fa-university"></i>
                                Log in
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="pill" href="#nav-tab-signup" class="nav-link rounded-pill">
                                <i class="fa fa-credit-card"></i>
                                Sign up
                            </a>
                        </li>
                    </ul>
                    <!-- End -->
                    <!-- Sign up form content -->
                    <div class="tab-content">
                        <!-- Sign up info-->
                        <div id="nav-tab-signup" class="tab-pane fade">
                            <div class="text-center mb-4">
                                <p class="lead">Welcome back!</p>
                            </div>
                            <p class="alert alert-success">Some text success or error</p>
                            <form role="form" class="form-signin" action="/newuser" method="POST">
                                <div class="part-1">

                                    <div class="input-group form-label-group mb-2">
                                        <div class="form-label-group fname">
                                            <input type="text" placeholder="First Name" name="firstName"
                                                class="form-control col-12" required>
                                            <label for="firstName" class="col-12">First Name</label>
                                        </div>

                                        <div class="form-label-group lname">
                                            <input type="text" placeholder="Last Name" name="lastName"
                                                class="form-control col-12" required>
                                            <label for="lastName" class="col-12">Last Name</label>
                                        </div>
                                    </div>

                                    <div class="form-label-group mb-2">
                                        <input type="text" name="username" placeholder="Username" class="form-control"
                                            required>
                                        <label for="username">Username</label>
                                    </div>
                                    <div class="form-label-group mb-2">
                                        <input type="email" name="email" placeholder="Email" class="form-control"
                                            required>
                                        <label for="email">Email</label>
                                    </div>

                                    <div class="form-label-group mb-2">
                                        <input type="password" name="password" placeholder="Password"
                                            class="form-control" required>
                                        <label for="password">Password</label>
                                    </div>
                                    <div class="form-label-group mb-2">
                                        <input type="password" name="cPassword" placeholder="Confirm Password"
                                            class="form-control" required>
                                        <label for="cPassword">Confirm Password</label>
                                    </div>

                                    <button type="submit"
                                        class="subscribe btn btn-primary btn-block rounded-pill shadow-sm"> Register
                                    </button>
                                </div>
                                <!-- <div class="part-2 d-none">
                                    <div class="form-label-group mb-2">
                                        <input type="text" name="username" placeholder="Interests" class="form-control"
                                            required>
                                        <label for="username">Interests</label>
                                    </div>
                                    <button type="submit"
                                        class="subscribe btn btn-primary btn-block rounded-pill shadow-sm"> Register
                                    </button>
                                </div> -->

                            </form>
                        </div>
                        <!--END-->

                        <!--Log in form-->
                        <div id="nav-tab-login" class="tab-pane fade show active">
                            <form class="form-signin">
                                <div class="text-center mb-4">
                                    <p class="lead">Welcome back!</p>
                                </div>
                                <p class="alert alert-success">Some text success or error</p>

                                <div class="form-label-group mb-2">
                                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                                        required autofocus>
                                    <label for="inputEmail">Email address</label>
                                </div>

                                <div class="form-label-group mb-2">
                                    <input type="password" id="inputPassword" class="form-control"
                                        placeholder="Password" required>
                                    <label for="inputPassword">Password</label>
                                </div>

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" value="remember-me"> Remember me
                                    </label>
                                </div>
                                <button type="button"
                                    class="subscribe btn btn-primary btn-block rounded-pill shadow-sm"> Sign in
                                </button>
                            </form>
                        </div>
                        <!-- End -->
                    </div>
                    <!-- End -->

                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="assets/js/user-entry.js"></script>
</body>

</html>