/* #input-type-button-group{
    visibility: hidden;
} */

/* #show-toggler{
    visibility: visible;
} */

.btn:active, .btn:focus {
    outline: none!important;
    box-shadow: none;
    
}

.dynamic-input:focus{
    outline: none;
}

.btn-sm-toggle{
    padding-top: 1%;
    /* text-align: center; */
    /* line-height: 50%; */
}
.btn-sm-in-group{
    padding-top: 5%!important;
}

.row{
    padding-top: 50px;

}

.content{
    width: 100%;
}

.yt-vid{
    position:absolute;
    padding-top: calc(591.44 / 1127.34 * 100%);
    top:0;
    left:0;
    width:100%;
    height:100%;
}